In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("abp2022.csv")
df.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,2,Afghanistan,5312,Area harvested,515,Apples,1961,1961,ha,2220.0,F,FAO estimate
1,QCL,Crops and livestock products,2,Afghanistan,5312,Area harvested,515,Apples,1962,1962,ha,2220.0,F,FAO estimate
2,QCL,Crops and livestock products,2,Afghanistan,5312,Area harvested,515,Apples,1963,1963,ha,2220.0,F,FAO estimate
3,QCL,Crops and livestock products,2,Afghanistan,5312,Area harvested,515,Apples,1964,1964,ha,2350.0,F,FAO estimate
4,QCL,Crops and livestock products,2,Afghanistan,5312,Area harvested,515,Apples,1965,1965,ha,2480.0,F,FAO estimate

In [4]:
df=df[df['Element']=="Production"] #Only keep the production data

In [6]:
df['Item'].unique()

array(['Apples', 'Pears', 'Bananas'], dtype=object)

In [8]:
apples=df[df['Item']=="Apples"]
pears=df[df['Item']=="Pears"]
bananas=df[df['Item']=="Bananas"]
apples.to_csv("apples.csv")
pears.to_csv("pears.csv")
bananas.to_csv("bananas.csv")